.mainHeader,
.headerSpacing {
  background-color: #ffffff;
}

.mainHeader {
  border-bottom: 0px solid #ededed;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: default;
  background-position: center center;
  width: 100%;
  margin-bottom: 40px;
  position: relative;
}
.headerShop .mainNav {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
}

.headerOverlap,
.headerStickyReal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.container {
  width: 95%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.wrapHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 85px;
  margin-left: -15px;
  margin-right: -15px;
  transition: min-height 0.2s ease, height 0.2s ease;
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1222px;
  }
}
