.siteLogo img {
  backface-visibility: hidden;
  perspective: 800px;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 800px;
  transition: max-height 0.3s ease;
  -webkit-transition: max-height 0.3s ease;
}
