.mobileNav {
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  transition: transform 0.25s ease;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 500;
  overflow: hidden;
  overflow-y: scroll;
}

.openMobileNav {
  transform: translate3d(0, 0, 0);
}
.closeMobileNav {
  transform: translate3d(-300px, 0, 0);
}
.mobileNav .searchForm {
  box-shadow: 0 -1px 9px rgba(0, 0, 0, 0.17);
  position: relative;
  z-index: 2;
}

.mobileNav .searchForm input[type='text'] {
  padding: 0 50px 0 18px;
  height: 70px;
  flex: 1;
  font-weight: 600;
  border: none;
  font-size: 13px;
  padding-right: 50px;
  height: 46px;
}
.searchForm input[type='text']:focus {
  outline: none;
}
.searchForm .searchSubmit {
  background: transparent;
  border: none;
  padding-right: 10px;
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.17);
}

.mobileNavTabs {
  background-color: #f9f9f9;
}
.mobileNavTabs:after {
  content: '';
  clear: both;
  display: block;
}
.mobileNavTabs > ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.mobileNavTabs .active {
  background-color: #efefef;
  color: #333 !important;
}

.mobileNavTabs .mobileTabTitle {
  flex: 1 0 50%;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 18px 15px;
  font-weight: 700;
  line-height: 1.3;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #909090;
  text-transform: uppercase;
  cursor: pointer;
  transition: #efefef 0.25s ease, color 0.25s ease;
}

.mobileNavTabs .mobileTabTitle::after,
.mobileNavTabs .mobileCategoriesTitle::after {
  background-color: #99b998;
}

.mobileNavTabs .mobileTabTitle::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: -2px;
  width: 0;
  height: 2px;
  transition: width 0.25s ease;
}

.mobileNavTabs .active:after {
  width: 100%;
}

.mobileNavTabs .mobilePagesTitle::after {
  left: auto;
  right: 0;
}

.siteMobileMenu li {
  display: block;
  position: relative;
}

.siteMobileMenu .wishlistInfoWidget {
  display: block;
  margin-right: 0;
}

.siteMobileMenu .wishlistInfoWidget > a {
  text-align: left;
}

.siteMobileMenu li a {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  color: #2d2a2a;
  border-bottom: 1px solid;
  border-color: rgba(129, 129, 129, 0.2);
}

.wishlistInfoWidget .wishlistInfoWrap {
  position: relative;
}

.mobileMenuTab {
  display: none;
  animation: fadeIn 1s ease;
}

.mobileMenuTab.active {
  display: block;
}
