.rightColumn {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 1 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.headerLinks {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.headerLinks > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-top: revert;
}

.headerLinks > ul > li {
  position: relative;
  font-size: 13px;
  font-weight: 600;
  color: #333;
}
.headerLinks > ul > li > a {
  color: #333;
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  text-decoration: none;
}
.headerLinks > ul > li > a > span {
  position: relative;
}

.headerLinks > ul > li > a > span::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #99b998;
  transition: width 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.15);
}

.headerLinks > ul > li > a > span:hover::after {
  width: 100%;
}

.searchButton {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-right: 5px;
}
.searchButton a {
  display: inline-block;
  text-align: center;
  text-align: center;

  color: #333;
  cursor: pointer;
}

.searchWrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 370;
  background-color: #fff;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}
.closeSearchWrapper {
  transform: translateY(100%) translateZ(0);
}
.openSearchWrapper {
  transform: translateY(0) translateZ(0);
}

.searchInner {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.searchInner .closeSearch {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 0;
  height: 100px;
  width: 100px;
  z-index: 200;
  cursor: pointer;
}

.searchInner .closeSearch:after,
.searchInner .closeSearch:before {
  content: ' ';
  width: 40px;
  height: 3px;
  position: absolute;
  right: 50%;
  top: 50%;
  margin-top: -2px;
  margin-right: -20px;
  display: inline-block;
  background-color: #2d2a2a;
  transition: background-color 0.25s ease, transform 0.25s ease;
}
.closeSearch:after {
  transform: rotate(-45deg);
}
.closeSearch:before {
  transform: rotate(45deg);
}

.searchform {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  opacity: 1;
  border-bottom: 1px solid;
  -webkit-transition: opacity 0.35s ease 0.2s;
  transition: opacity 0.35s ease 0.2s;
}

.searchform .screenReaderText {
  display: block;
  font-size: 14px;
  color: #464646;
  font-weight: 400;
  margin-bottom: 5px;
  max-width: 100%;
}

.searchform .searchsubmit {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 2px;
  width: 50px;
  font-size: 0;
  font-weight: 400;
  padding: 0;
  border: none;
  background-color: transparent;
  color: #777;
}
.searchform input[type='text'] {
  width: 100%;
  position: relative;
  border: none;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 0;
  padding-top: 0;
  font-size: 48px;
  font-weight: 600;
  color: #333;
  height: 110px;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.searchform input[type='text']:focus {
  outline: 0;
}
.searchInfoText {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  line-height: 30px;
  overflow: hidden;
  letter-spacing: 0.3px;
}

.wishlistInfoWidget {
  margin-right: 5px;
}
.wishlistInfoWidget > a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 400;
  text-align: center;
  color: #333;
}
.wishlistInfoWidget > a:focus,
.wishlistInfoWidget > a:hover {
  color: #949494;
}
.wishlistInfoWidget .wishlistInfoWrap {
  position: relative;
}

.wishlistInfoWidget .count {
  background-color: #99b998;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  font-size: 10px;
  font-weight: 400;
  color: #fff;
  top: 0px;
  left: 14px;
}

.shoppingCart {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.shoppingCart > a {
  display: inline-block;
  text-align: center;
  font-weight: 600;
  color: #333;
  margin-bottom: 5px;
}
.shoppingCart > a:hover {
  color: #949494;
}
.shoppingCart .cartTotals {
  display: inline-block;
  font-size: 13px;
  vertical-align: middle;
}

@media (max-width: 1024px) {
  .headerLinks,
  .searchButton,
  .wishlistInfoWidget,
  .shoppingCart .cartNumber > span,
  .shoppingCart .divider,
  .shoppingCart .money {
    display: none;
  }
  .shoppingCart > a {
    position: relative;
  }
  .shoppingCart .cartNumber {
    position: absolute;
    top: 0;
    right: -7px;
    padding: 0;
    margin-left: 0;
    font-size: 10px;
    color: #212121;
    font-weight: 600;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    border-radius: 50%;
    background-color: #eee;
  }
}
