.closeSide {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 400;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 0.25s ease, visibility 0s ease 0.25s;
  transition: opacity 0.25s ease, visibility 0s ease 0.25s;
}

.openSide {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.25s ease, visibility 0s ease;
  transition: opacity 0.25s ease, visibility 0s ease;
}
