.headerLeftSide {
  display: none;
  padding-left: 15px;
  padding-right: 15px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.mobileNavIcon {
  display: none;
}

.burgerIcon {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  height: 40px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}

.burgerIcon .burger {
  vertical-align: middle;
  position: relative;
  margin-top: 6px;
  margin-bottom: 6px;
}

.burgerIcon .burgerLabel {
  font-size: 14px;
  font-weight: 700;
  vertical-align: middle;
  text-transform: uppercase;
  color: #2d2a2a;
  margin-left: 8px;
}

.burgerIcon .burger,
.burgerIcon .burger:after,
.burgerIcon .burger:before {
  display: inline-block;
  width: 18px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.25s ease;
}
.burgerIcon .burger:before {
  top: -4px;
}

.burgerIcon .burger::after {
  top: 4px;
}

.burgerIcon .burger:after,
.burgerIcon .burger:before {
  position: absolute;
  content: '';
  left: 0;
}
.mainNav {
  flex: 1 0 0;
}

.mainNav.menuLeft .menu {
  justify-content: flex-start;
}

.mainNav .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.mainNav .menu li a {
  display: block;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  line-height: 40px;
  color: #333;
}
.mainNav .menu li a > span {
  position: relative;
}
.mainNav .menu li a > span::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  background-color: #99b998;
  height: 2px;
  transition: width 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.15);
}
.mainNav .menu li a > span:hover::after {
  width: 100%;
}

@media (max-width: 1024px) {
  .headerLeftSide,
  .mobileNavIcon {
    display: flex;
  }
  .headerLeftSide {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }

  .mainNav {
    display: none;
  }
}
