.cartWidgetSide {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 340px;
  display: flex;
  flex-direction: column;
  z-index: 500;
  overflow: hidden;
  background-color: #fff;
  transform: translate3d(340px, 0, 0);
  transition: transform 0.25s ease;
}

.cartOpened{
  transform: translate3d(0, 0, 0) !important;
}

.cartWidgetSide .widgetHeading {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid;
  border-color: rgba(129,129,129,.2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
}
.cartWidgetSide .widgetTitle {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  color: #2d2a2a;
  text-transform: uppercase;
}

.cartWidgetSide .widgetClose {
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  line-height: 30px;
  position: relative;
  color: #2d2a2a;
  cursor: pointer;
  padding-right: 21px;
}

.cartWidgetSide .widgetClose:before {
  content: ' ';
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -1px;
  width: 15px;
  height: 2px;
  display: inline-block;
  background-color: #2d2a2a;
  transform: rotate(0);
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out,
    width 0.2s ease-in-out;
}
.cartWidgetSide .widgetClose:hover:before {
  transform: rotate(45deg);
}

.cartWidgetSide .widgetClose:after {
  transform: rotate(0);
  content: ' ';
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -1px;
  width: 15px;
  height: 2px;
  display: inline-block;
  background-color: #2d2a2a;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out,
    width 0.2s ease-in-out;
}
.cartWidgetSide .widgetClose:hover:after {
  transform: rotate(-45deg);
}

.cartWidgetSide .widgetShoppingCart {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1 1 auto;
  position: relative;
  opacity: 1;
  transition: opacity 0.1s ease 0.25s;
}

.cartWidgetSide .widgetShoppingCartContent {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.scroll {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.cartWidgetSide .widgetShoppingCart .scrollContent {
  position: absolute;
  max-height: none;
  padding-right: 0;
  right: -17px;
}

.widgetShoppingCart .hasScrollbar .scrollContent {
  overflow: scroll;
  overflow-x: hidden;
}

.scroll .scrollContent {
  top: 0;
  bottom: 0;
  left: 0;
}
.widgetShoppingCart .productListWidget {
  margin-bottom: 0;
  text-align: left;
}
.cartWidgetSide .widgetShoppingCart .empty {
  margin-top: 20px;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: none;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #2d2a2a;
}

.widgetShoppingCart .returnToShop {
  margin-bottom: 0;
  text-align: center;
}
.widgetShoppingCart .returnToShop a {
  font-size: 12px;
  line-height: 16px;
  padding: 10px 14px;
  background-color: #99b998;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.3px;
  border-radius: 0;
}

.widgetShoppingCart .returnToShop .btnBackWard {
  border: none;
  color: #fff;
  box-shadow: inset 0 -2px 0 rgb(0 0 0 / 15%);
  transition: color 0.25s ease, background-color 0.25s ease,
    border-color 0.25s ease, box-shadow 0s ease, opacity 0.25s ease;
}
@media (max-width: 1024px) {
  .cartWidgetSide {
    width: 300px;
    transform: translate3d(300px, 0, 0);
  }
}
