@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html body {
  line-height: 1.6;
}

body {
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  color: #777;
  line-height: 1.6;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none !important;
}
a:active,
a:hover {
  outline: 0;
}

ol,
ul {
  list-style: none outside none;
  line-height: 1.4;
  padding-left: 0px !important;
}

ul li {
  list-style: none;
}
